.Contact {
  background-image: url(/public/img/contact.jpg);
  backdrop-filter: blur(8px);
  color: white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.footCon {
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main h2 {
  margin-top: 10px;
  letter-spacing: 2px;
}

.more h3 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.more li {
  letter-spacing: 3px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
}
